{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier", "prettier/react", "cypress"],
    "plugins": ["prettier", "react", "react-hooks"],
    "settings": {
      "import/resolver": {
        "babel-plugin-root-import": {}
      }
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "indent": ["error", 2],
        "space-before-function-paren": "off",
        "react/prefer-stateless-function": "warn",
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": true }
        ],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "linebreak-style": "off",
        "global-require": "off",
        "semi": "off",
        "arrow-body-style": "off",
        "react/jsx-props-no-spreading": "off",
        "react-hooks/exhaustive-deps": "off",
        "no-multiple-empty-lines": ["warn", { "max": 1 }],
        "import/prefer-default-export": "off",
        "no-unused-expressions": [
            "error",
            {
                "allowTaggedTemplates": true
            }
        ],
        "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] }]
    }
}
